*{
    margin: 0
} 

p {
    font-size:x-large;
}



#gridContainer {
    display:grid;
    grid-template-columns: 4fr 4fr;
    gap: 1rem;
    
}

nav {
    height: 5rem;
    position: sticky;
    top: 0;
    display:flex;
    background-color: lightblue;
    border: 2px solid blue;
    border-radius: 1em;
    justify-content: space-between;
    align-items: center;
    
    
    
    
}
h1 {
    padding-left: 2rem;
}

nav ul {
    
    list-style: none;
    display:flex;
    gap: 7rem;
    font-style: italic;
    padding-right: 2rem;
    font-weight: bold;
    font-size: large;
    
}

nav ul li a {
    text-decoration: none;
}

h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
p {
    line-height: 2;
}

#basketball2 {
    column-span: all;
    margin-top: 1rem;
}

#basketball{
    column-count: 3;
}

#food p {
    clear:right
}

img {
    float:right;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.table {
    clear: left;
    
}



table{
    border:1px solid black;
}
td, th, tr {
    border: 1px solid black;
}

hr {
    margin-top: 4rem;
}

footer {
    padding-top: 2rem;
}
footer {
    height: 3200px;
}

main {
    margin-left: 1rem;
    margin-right: 1rem;
}

@media screen and (max-width: 56rem) {

    nav ul{ 
        display: block;
        
    }

    nav li {
        font-size: xx-large;
        padding-top: 0.8rem;
    }

    #basketball{
        column-count: 2;
    }


    nav {
        height: 20rem;
        display: flex;
        justify-content: center;
     }

    #gridContainer {
        display:grid;
        grid-template-columns: 4fr

}

}

@media screen and (max-width: 36rem) {
    
    .table {
        display: none;
    }

    span {
        display: none;
    }
    
}

@media screen and (max-width: 21rem) {
    body {
        background-color: pink;
    }

    img {
        width: 5rem;
    }

    #basketball{
        column-count: 1;
    }

    nav header {
        display: none;
    }

}