#col-container {
    column-count: 3;
    column-gap: 20px;
    column-width: 250px;
    column-rule: 3px dotted rosybrown;
}
body {
    max-width: 900px;
    margin: 0 auto;
}
#col-container p {
    background-color: lightpink;
    border: 2px solid red;
    padding: 10px;
    break-inside: avoid;
}
p {
    background-color: lightgoldenrodyellow;
    border: 2px solid goldenrod;
}