#col-container {
    column-count: 3;
    column-gap: 20px;
    column-width: 250px;
    column-rule: 3px dotted rosybrown;
}
body {
    max-width: 900px;
    margin: 0 auto;
}
#col-container p {
    background-color: lightcyan;
    border: 2px solid darkcyan;
    padding: 10px;
    break-inside: avoid;
    border-radius: 1em;
}
header p {
    background-color: lightgoldenrodyellow;
    border: 2px solid darkgoldenrod;
    border-radius: 1em;
}