*{
    margin: 0
}
h1 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1rem;
}
nav {
    position: sticky;
    top: 0;
    display:flex;
    background-color: darkorchid;
    justify-content: space-between;
    
}

nav ul {
    
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
    
}

nav ul li {
    display: inline-block;
    margin-right: 10rem;
    font-size: large;
    font-weight: bold;
}

nav ul li a {
    text-decoration: none;
}

h2{
    margin-top: 1rem;
}
p {
    margin-top: 1rem;
    line-height: 2;
}

#basketball {
    column-span: all;
}

.basketball{
    column-count: 3;
}

#food {
    display: grid;
}

img {
    float: right;
}

table{
    border:1px solid black;
}
td, th, tr {
    border: 1px solid black;
}